body{
    background-image: url(assets/images/img1.jpeg);
    background-size: cover;
​
}
.navigation .navbar-brand{
    color: white; 
    margin-left: 35px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: blue;
}
​
.navbar-nav {
    font-size: 20px;
}
​
.btn{
    background-color: black ;
}
​.nav_link{
    color:black;
}
.container {
    background-color: white;
    margin-top: 15px;
    opacity: 1;
    margin-bottom: 50px;
}
.p1 {
    text-align: center;
    color:rgb(92, 4, 4);
    
}
​
.table {
    font-size: 15px;
    border-top-color: white !important;

}
.box {
    padding: 10px 10px; 
    background-color:white;
  }
  
.title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
    color: rgb(204, 12, 12)
  }
